.header {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--color-master);
  align-items: center;
  margin: 16px auto;
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(136, 178, 87, 0.4), 0 0 15px rgba(136, 178, 87, 0.7), 0 0 10px rgba(136, 178, 87, 0.9);

  span {
    background-color: transparent;
    padding: 30px;
    color: var(--color-pure-white);
    font-weight: var(--font-weight-bold);
  }
}

.header--hidden {
  transform: translateY(-100%);
}

.header__back {
  display: none;
}

.header__back[back] {
  position: absolute;
  left: 16px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;

  img {
    background: transparent;
    width: auto;
    height: auto;
  }
}
