:root {
  /* neutro */

  --color-pure-white: #ffffff;
  --color-low-light: #e6e6e6;
  --color-medium-lighter: #f0f0f0;
  --color-high-lightest: #fafafa;
  --color-low-grey: #a7a6a6;
  --color-medium-greyter: #acacac;
  --color-high-grey: #363636;
  --color-pure-black: #000000;

  /* --------------- */

  /* escala verde */

  

  /*  */
}
