.cidadedorme__container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  span {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
  }
}