.container {
  align-items: var(--container-align);
  display: flex;
  flex-direction: var(--container-direction);
  gap: var(--container-gap);
  justify-content: var(--container-justify);
  padding: var(--spacing_inset-xs);
  width: 1280px;
  flex-wrap: var(--container-wrap);
}