.header {
  align-items: center;
  background: var(--color-master);
  color: var(--color-pure-white);
  display: flex;
  height: 80px;
  justify-content: center;
  box-shadow: 0px -6px 15px rgba(136, 178, 87, 0.7);
}

.header__container {
  background: transparent;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
