.gamecard {
  align-items: center;
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
  color: var(--card-color);
  cursor: var(--card-pointer);
  display: flex;
  flex-direction: var(--card-direction);
  gap: var(--spacing_inset-xs);
  justify-content: var(--card-justify);
  padding: var(--spacing_inset-xs);
  width: var(--card-width);

  img {
    border-radius: var(--radius-medium);
    height: auto;
    width: var(--card-image-size);
  }

  a {
    background-color: var(--card-linkBg);
    border-radius: var(--radius-small);
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing_inset-nano) var(--spacing_inset-xs);
    text-align: center;
    width: 100%;

    &:hover {
      background-color: var(--card-linkBg-hover);
    }
  }
}
