.gamecard {
  align-items: center;
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  cursor: var(--card-pointer);
  display: flex;
  flex-direction: var(--card-direction);
  gap: var(--spacing_inset-xs);
  justify-content: var(--card-justify);
  padding: var(--spacing_inset-xs);
  width: var(--card-width);

  img {
    border-radius: var(--radius-medium);
    height: auto;
    width: var(--card-image-size);
  }

  a {
    background-color: red;
    border-radius: var(--radius-medium);
    color: var(--color-pure-white);
    font-weight: var(--font-weight-medium);
    padding: var(--spacing_inset-nano) var(--spacing_inset-xs);
  }
}
