* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-principal);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

:root {
  --spacing-quarck: 4px;
  --spacing-nano: 8px;
  --spacing-xxxs: 16px;
  --spacing-xxs: 24px;
  --spacing-xs: 32px;
  --spacing-sm: 40px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --spacing-xl: 64px;
  --spacing-xxl: 80px;
  --spacing-xxxl: 120px;
  --spacing-huge: 160px;
  --spacing-giant: 200px;

  /* Espaçamento interno */

  --spacing_inset-quarck: 4px;
  --spacing_inset-nano: 8px;
  --spacing_inset-xs: 16px;
  --spacing_inset-sm: 24px;
  --spacing_inset-md: 32px;
  --spacing_inset-lg: 40px;
  --spacing_inset-huge: 48px;
  --spacing_inset-giant: 56px;
}

:root {
  --color-master-darker: #000000;
  --color-master-dark: #292929;
  --color-master: #4E4E4E;
  --color-master-light: #777777;
  --color-master-lighter: #A2A2A2;
  --color-master-lightest: #D0D0D0;

  --color-green-darker: #1A4D27;
  --color-green-dark: #237F3E;
  --color-green: #2DB954;
  --color-green-light: #4FCA72;
  --color-green-lighter: #7FDC9D;
  --color-green-lightest: #B2EFC7;

  --color-blue-darker: #0F3C5E;
  --color-blue-dark: #145A8D;
  --color-blue: #1C7ED6;
  --color-blue-light: #4C9DE5;
  --color-blue-lighter: #7FC0F1;
  --color-blue-lightest: #B3DBF9;

  --color-pure-white: #fff;
  --color-pure-black: #000;
}

:root {
  --font-family-principal: 'Segoe UI';
}

:root {
  --font-size-micro: 0.8rem;
  --font-size-nano: 1.2rem;
  --font-size-xs: 1.6rem;
  --font-size-sm: 2.4rem;
  --font-size-md: 2.8rem;
  --font-size-lg: 4.8rem;
}

:root {
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

:root {
  --radius-none: 0;
  --radius-subtle: 2px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-extra-large: 24px;
  --radius-full: 50%;
  --radius-pill: 9999px;
}